on:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    container: python:3.11
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: show files
        run: |
          ls -ltr
          python --version
      - name: git-hub-massege
        run: |
          echo "Hello, GitHub Actions!" 
